$main_color: #020B40;
$blue_1:#113190;
$blue_2:#2A62FF;
$blue_3:#3233C9;
$blue_button:#020B40;
$blue_card:#030e46;
$blue_register:#434E86;
$blue_title:#18294D;
$light_green: #04BF9D;
$light_blue:#3131C3;
$dark_blue:#0C1B55;
$light_black:#4B515E;
$gray:#7B8293;
$input-background:#FFFFFF;
$light_brown:#DAC562;
$light_white:#fcfcfc;
$red:#E24234;
$dark_black:#2F2F2F;
$green_success:#21ba45;
$green_button:#06C753;
$ion-avatar_back: #bfc1cb;
$text_black:#323635;
$row_back:#f7f7f7;
$dark_gray:#505050;
$green-button:#8a118c;