
<ion-tabs style="  background-color: #F9FBFC;">
  <div class="back-view"></div>
  <ion-tab-bar slot="bottom" class="ion-padding-top tab-bar">

    <ion-tab-button tab="home">
      <img class="image_view" src="../../../../assets/icon/shop.svg">
      <ion-label>متاجرك</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home">
      <img class="image_view" src="../../../../assets/icon/cours.svg" alt="">
      <ion-label>الرسائل</ion-label>
    </ion-tab-button>
    <ion-tab-button class="custom-tab" tab="home">
      <img class="custom-image" src="../../../../assets/icon/home.svg" alt="">
      <ion-label>{{language.home.title}}</ion-label>
    </ion-tab-button>
    <ion-tab-button  tab="view-replyes">
      <img class="image_view" src="../../../../assets/icon/shop.svg" alt="">
      <ion-label>ردود المتاجر</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home">
      <img class="image_view" src="../../../../assets/icon/list.svg" alt="">
      <ion-label>طلباتي</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>