<ion-content class="ion-no-padding content-style">
  
  <ion-row style="margin: 30px 10px;">
   <ion-col class="about" size="11">
      {{language.login.forgetPage}}
    </ion-col>
    <ion-col (click)="login()" size="1">
      <ion-icon class="back-icon" name="arrow-forward-outline"></ion-icon>
    </ion-col>
  </ion-row>
  <div class="content">
    <ion-row class="input-style" style="margin-top: 10%;">
      <ion-col size="12">
      <ion-input  type="text" inputmode="numeric"
      onkeypress=" 
      if(!(event.charCode>=47 && event.charCode < 58))return false;" [(ngModel)]="phone" placeholder="{{language.login.phone}}">
      </ion-input>
      </ion-col>
    </ion-row>
    <ion-row class="input-style" style="margin-top: 7%;">
      <ion-col size="12">
      <ion-input  type="text" inputmode="numeric"
      onkeypress=" 
      if(!(event.charCode>=47 && event.charCode < 58))return false;" [(ngModel)]="pin" placeholder="{{language.login.pin}}">
      </ion-input>
      </ion-col>
    </ion-row>
    <div class="start">
      <ion-button (click)="reset()" type="submit" fill="clear" class="general-button">
       <strong >{{language.login.forgetPage}}</strong> 
      </ion-button> 
     </div>
    </div>
    <div class="content">
      <ion-row class="input-style" style="margin-top: 10%;">
        <ion-col size="12">
        <ion-input  type="text"
         [(ngModel)]="password" placeholder="{{language.login.newPassword}}">
        </ion-input>
        </ion-col>
      </ion-row>
      <ion-row class="input-style" style="margin-top: 7%;">
        <ion-col size="12">
        <ion-input  type="text" 
         [(ngModel)]="newPassword" placeholder="{{language.login.confirmNew}}">
        </ion-input>
        </ion-col>
      </ion-row>
      <div class="start">
        <ion-button (click)="reset()" type="submit" fill="clear" class="general-button">
         <strong >{{language.login.forgetPage}}</strong> 
        </ion-button> 
       </div>
      </div>
    </ion-content>
